body {
    main {
        div {
            .container {
                .container-example {
                    .example {

                        .bin2Dec {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .align {
                                display: flex;
                                justify-content: space-between;

                                input {
                                    width: 30%;
                                }

                                button {
                                    width: 25%;
                                }
                            }

                            .error {
                                display: none;
                            }
                        }

                        .border-radius-previewer {
                            display: flex;
                            width: 100%;

                            div {
                                div {
                                    .message {
                                        color: #EFDA4D;
                                    }
                                }
                            }

                            .center {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-top: 40px;
                                width: 40%;
                                gap: 10px;

                                .border-example {
                                    background: #EFDA4D;
                                    height: 120px;
                                    width: 120px;

                                }
                            }
                        }

                        .calculator {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;

                            .display {
                                height: 50px;
                                width: 50%;
                                text-align: end;
                            }

                            div {
                                width: 50%;

                                .button {
                                    background-color: rgba(239, 217, 77, 0.1529411765);
                                    ;
                                    width: 25%;
                                }

                                .button-operator {
                                    background-color: #1A1A1A;
                                    width: 25%;
                                }
                            }

                            .button-clear {
                                width: 50%;
                            }
                        }

                        .christmas {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;

                            .container-lights {
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                                padding: 40px;

                                .circle {
                                    border-radius: 100px;
                                    border: solid 2px white;
                                    width: 50px;
                                    height: 50px;
                                }

                                @keyframes changeColor {
                                    0% {
                                        background-color: #efd94d20;
                                    }

                                    50% {
                                        background-color: #EFDA4D;
                                    }

                                    100% {
                                        background-color: #efd94d20;
                                    }
                                }
                            }

                            .container-input {
                                padding: 10px;
                                display: flex;
                                gap: 10px;
                                width: 100%;

                                label {
                                    width: 25%;
                                }

                                input {
                                    width: 45%;
                                    padding-left: 10px;
                                }

                                button {
                                    width: 30%;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 426px) {
    body {
        main {
            div {
                .container {
                    .container-example {
                        .example {
                            .border-radius-previewer {
                                flex-direction: column;
                                align-items: center;

                                .center {
                                    button {
                                        width: 150px;
                                    }
                                }
                            }

                            .calculator {
                                gap: 0;

                                .display {
                                    height: 30px;
                                    font-size: 60%;
                                }

                                div {
                                    .button {
                                        font-size: 60%;

                                    }

                                    .button-operator {
                                        font-size: 60%;
                                    }
                                }

                                .button-clear {
                                    font-size: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}