body {
    main {
        div {
            .container {
                .container-example {
                    .example {

                        .bin2Dec {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .align {
                                display: flex;
                                justify-content: space-between;
                                input{
                                    width: 30%;
                                }
                                button{
                                    width: 25%;
                                }
                            }
                            .error {
                                display:none;
                            }
                        }

                        .border-radius-previewer {
                            display: flex;
                            width: 100%;
                            
                            div{
                                div{
                                    .message{
                                        color: #EFDA4D;
                                    }
                                }
                            }
                            .center {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-top: 40px;
                                width: 40%;
                                gap: 10px;
                                .border-example{
                                    background: #EFDA4D;
                                    height: 120px;
                                    width: 120px;
                                
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 426px){
    body {
        main {
            div {
                .container{
                    .container-example{
                        .example{
                            .border-radius-previewer{
                                flex-direction: column;
                                align-items: center;
                                .center{
                                    button{
                                        width: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}